*{
    margin-top:30px;
    padding:0;
}
body{
    font-family :"yugothic", "游ゴシック", "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
    background-color:gray;
    font-size:14px;
    margin-left:40px;
}
header{
    background-position:center center;
    background-size:cover;
    background-repeat:no-repeat;
    padding-bottom:100px;
}
nav,footer,h1{
    text-align:center;
}

li{
    font-size:18px;
}
img{
    max-width:240px;
    border:5px solid white;
    border-radius:100%;
}
h2{
    color:white;
    text-shadow:1px ;
}
footer{
    padding-top:30px;
}